.results-block .value-money {
  background: var();
  margin-top: 15px;
  width:  320px;
  height: 55px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secundary-color);
  border: 2px solid var(--secundary-color);
  font-size: 20px;
  font-weight: bold;
}

.results-block p{
    background: var(--background);
    font-weight: bold;
    position: absolute;
    margin-left: 10px;
    margin-top: -10px;
    padding: 0 5px;
    color: var(--secundary-color);
}


@media only screen and (max-width: 750px) {
  .results-block .value-money{
    width: 100%;
  }
}