:root {
  font-size: 60%;
  --main-font-color: #1b3b86;
  --primary-color: #fa5d63;
  --secundary-color: #46dbc8;
  --background: #f5f5f5;
  --white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background: var(--background);
}

body,
button,
input,
textarea,
select {
  font: 500 1.6rem Poppins;
  color: var(--main-font-color);
}

.g-centrilize {
  width: 90%;
}

.button-style{
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid var(--main-font-color);
  outline: none;
  cursor: pointer;
}
