:root {
  font-size: 60%;
  --main-font-color: #1b3b86;
  --primary-color: #fa5d63;
  --secundary-color: #46dbc8;
  --background: #f5f5f5;
  --white: #FFF;
  --placeholder: #c4c4c4;
  --button-normal-hover: #f0f0f0;
  --button-especial-hover: #f7575c;
  --light-blue: #b6c5fb;
  --light-red: #faaaad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background: var(--background);
}

body,
button,
input,
textarea,
select {
  font: 500 1.6rem Poppins;
  color: var(--main-font-color);
}

.g-centrilize {
  width: 90%;
}

.g-button-style{
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid var(--main-font-color);
  outline: none;
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-button-style:hover{
  background: var(--button-normal-hover) ;
}


footer{
  height: 20vh;
}


@media only screen and (max-width: 750px) {
  footer{
    height: 5vh;
  }

  .g-centrilize {
    width: 80%;
  }

  .g-button-style{
    padding: 10px 20px;
  }
}