.choose-cities{
    display: flex;
    flex-direction: column;
}

.selects-choose-cities{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

@media only screen and (max-width: 750px) {
 .destination-select{
     margin-left: 5%;
 }
}