header{
    height: 20vh;

    display: flex;
    justify-content: center;
}

.logo{
    height: 50px;
    width: 100px;
  
}

header .g-centrilize{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


